<!-- Affiche des détails sur un topic -->
{% extends "layout.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="../css/charts.css">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-3">
        {% include "topic_related_words.html" with topic=topic %}
    </div>
    <div class="col-md-9">
		<div class="panel panel-default">
		    <div class="panel-heading"><h3>Évolution du poids du topic dans le temps</h3></div>
		    <div id="history_graph"></div>
		</div>
	</div>
</div>

<div class="well">
{% for document in related_documents %}
<h2><a href="/articles/{{ document.id }}">{{ document.titre }}</a></h2>
<p>{{ document.chapo }}</p>
<hr>
{% endfor %}
</div>

{% endblock %}	

{% block scripts %}
<script src='../js/line_chart.js'></script>
<script>
    var chart = lineChart({{ topic_history|safe }});
    d3.select("#history_graph").call(chart);
</script>
{% endblock %}
    