<!-- Affiche une boîte qui contient le numéro du topic, et un tableau contenant
les mots reliés au topic avec pour chacun le score associé -->

<div class="panel panel-default">
	<div class="panel-heading"><a href="/topics/{{ topic.id }}">Topic {{ topic.id }}</a> 
		{% if score	%} (Score = {{ score|floatformat:-3 }}) {% endif %}
	</div>
	<table class="table table-bordered table-condensed table-striped">
		<tr>
			<th><strong>Mot</strong></th>
			<th><strong>Score</strong></th>	
		</tr>
		{% for word in topic.get_related_words  %}
		<tr>
			<td>{{ word.word }}</td>
			<td>{{ word.topic_score|floatformat:-3}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
