<!-- Affiche une boîte qui contient le numéro du topic, et un tableau contenant
les mots reliés au topic avec pour chacun le poids du mot dans le topic -->

<table class="ui table segment">
	<thead>
		<tr>
			<th><strong>Mot</strong></th>
			<th><strong>Poids dans le document</strong></th>	
		</tr>
	</thead>
	<tbody>
		{% for word in topic.get_related_words  %}
		<tr>
			<td>{{ word.word }}</td>
			<td>{{ word.weight_in_topic|floatformat:-3}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>