{% extends "layout.html" %}

{% block pagebody %}

<!-- titre et chapo-->
<div class="page-header">
	<h1>{{ document.titre }}</h1>
	<h3>{{ document.auteur }}</h3>
	<p class="lead"><strong>{{ document.chapo }}</strong></p>
</div>

<div>
    {% for document_topic in document_topics %}
    	<div class="col-md-4">
		{% include "topic_related_words.html" with topic=document_topic.topic %}
		</div>
    {% endfor %}
</div>

<!-- article -->

<div>
	{{ document.texte }}
</div>

{% endblock %}
